:root {
    --azul-claro: #dcedf7;
    --azul-medio: #A4CDEB;
    --azul-escuro: #5A7D95;
    --preto: #1F2A33;
    --font-padrao: "Roboto", sans-serif;
    --font-decorativa: "Lobster", sans-serif;
}

.navbar {
    margin: 0;
    padding: 0;
}

header .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--azul-escuro);

}

header .menu .logo {
    margin-left: 2rem;
}

header .menu .logo a {
    text-decoration: none;
    color: var(--preto);
    font-size: 2rem;
    font-family: var(--font-decorativa);
    font-weight: 500;
}

header .menu-nav {
    display: flex;
    justify-content: space-evenly;
}


header .menu-nav ul {
    gap: 2rem;
}

header .menu-nav ul li {
    margin: 0;
}

header .menu-nav ul li a {
    color: white;
    font-weight: 500;
    padding: 2rem;
    transition: 0.5s ease;
}

header .menu-nav ul a:hover {
    color: var(--preto);
    border-bottom: 3px solid var(--preto);
    padding: 1.5rem;
}

header .menu-nav .buttons {
    display: flex;
    gap: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    background-color: var(--azul-escuro);

}

footer .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-decorativa);
    font-weight: 500;
    font-size: 2rem;
    color: #222222;
}

footer .colaboradores {
    display: flex;
    flex-direction: column;
    color: #222222;
    text-align: center;
}

footer .colaboradores a {
    color: white;
}

footer .colaboradores a:hover {
    color: var(--preto);
}

footer .apoio {
    display: flex;
    flex-direction: column;
    color: #222222;
    font-weight: 500;
}

footer .apoio img {
    margin: 0 auto;
    width: 100px;
}

/*
==================================================
    PAGINA HOME
==================================================
*/

.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero .hero-intro {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    width: 50%;
}

.hero .hero-intro h1 {
    font-size: 3rem;
    margin-top: 5rem;
}

.hero .hero-intro h1 strong {
    color: var(--azul-escuro);
}

.hero .hero-intro p {
    font-size: 1.2rem;
    text-align: justify;
}

.hero .hero-intro .btn {
    margin-bottom: 5rem;
}

.hero .hero-img {
    margin-top: 2rem;
    flex: 1;
}

/*
==================================================
    PAGINA SOBRE
==================================================
*/

.sobre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre .sobre-info {
    width: 50%;
    padding: 3rem;
}

.sobre .sobre-info h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--azul-escuro);
}

.sobre .sobre-info p {
    font-size: 1.2rem;
    text-align: justify;
}

.sobre .sobre-info p strong {
    color: var(--azul-escuro);
}

.sobre .sobre-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sobre .sobre-img div {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.sobre .sobre-img img {
    border-radius: 20px;

}

/*
==================================================
    PAGINA CADASTRO
==================================================
*/

.como-funciona-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.como-funciona {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding: 3rem;
}

.como-funciona .card {
    width: 40vw;
    border-radius: 20px;
    border: none;
}

.como-funciona .card .card-img {
    width: 100px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--azul-claro);
}

.como-funciona .card .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.como-funciona .card .card-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.como-funciona .color1 {
    background-color: var(--azul-medio);
}

.como-funciona .color2 {
    background-color: var(--azul-escuro);
    color: white;
    font-weight: 500;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.papeis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.papeis-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.papeis {
    display: flex;
    gap: 5rem;
}

.papeis .papeis-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
}

.papeis .papeis-item h2 {
    font-size: 2.2rem;
}

.papeis .item1 {
    background-color: var(--azul-medio);
}

.papeis .item2 {
    background-color: var(--azul-escuro);
    color: white;
}

.papeis-item .btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--preto);
    background-color: var(--azul-claro);
}

.papeis-item .btn:hover {
    background-color: #c9e3f3;
    text-decoration: underline;
}


/*
======================================================================================================================================================
======================================================================================================================================================
    MEDIAS QUERY CELULAR
======================================================================================================================================================
======================================================================================================================================================

]

*/

@media (max-width: 480px) {

    header .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--azul-escuro);
    }

    header .menu-nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header .menu .logo {
        margin-left: 0;
    }

    header .menu-nav ul {
        margin: 2rem 0;
        gap: 1rem;
    }

    header .menu-nav ul li a {
        padding: 0 2rem;
        background-color: var(--azul-medio);
        border-radius: 8px;
        color: var(--azul-escuro);
        transition: none;
    }

    header .menu-nav ul li a:hover {
        padding: 0 2rem;
        transition: none;
    }

    header .menu-nav .buttons {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    header .menu-nav .buttons a {
        padding: 0 2.6rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    footer {
        flex-direction: column;
        gap: 20px;
    }

    /*
==================================================
    PAGINA HOME @MEDIA QUERY
==================================================
*/

    .hero .hero-intro {
        padding: 0 1rem;
        width: 100%;
    }

    .hero .hero-intro h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .hero .hero-intro p {
        text-align: left;
    }

    .hero .hero-intro .btn {
        margin-bottom: 2rem;
    }

    .hero .hero-img img {
        max-width: 350px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    /*
==================================================
    PAGINA SOBRE @MEDIA QUERY
==================================================
*/


    .sobre {
        flex-direction: column;
    }

    .sobre .sobre-info {
        width: 100%;
        padding: 1rem;
    }

    .sobre .sobre-img {
        width: 100%;
    }

    .sobre .sobre-img div {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .sobre .sobre-img img {
        border-radius: 20PX;
        width: 100%;

    }

    /*
==================================================
    PAGINA CADASTRO @MEDIA QUERY
==================================================
*/


    .como-funciona-container h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    .como-funciona {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.5rem;
        padding: 1rem;
    }

    .como-funciona .card {
        width: 100%;
        border-radius: 20px;
        border: none;
    }

    .como-funciona .card .card-img {
        width: 100px;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--azul-claro);
    }

    .como-funciona .card .card-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    .como-funciona .card .card-text {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .como-funciona .color1 {
        background-color: var(--azul-medio);
    }

    .como-funciona .color2 {
        background-color: var(--azul-escuro);
        color: white;
        font-weight: 500;
    }

    /* /////////////////////////////////////////////////////////// */
    /* /////////////////////////////////////////////////////////// */

    .papeis-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
    }

    .papeis-container h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    .papeis {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .papeis .papeis-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        border-radius: 8px;
        border: none;
        font-size: 1.2rem;
    }

    .papeis .papeis-item h2 {
        font-size: 2.2rem;
    }

    .papeis .item1 {
        background-color: var(--azul-medio);
    }

    .papeis .item2 {
        background-color: var(--azul-escuro);
        color: white;
    }

    .papeis-item .btn {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--preto);
        background-color: var(--azul-claro);
    }

    .papeis-item .btn:hover {
        background-color: #c9e3f3;
        text-decoration: underline;
    }





}

/*fim da media query de celular*/
