:root {
    --azul-claro: #dcedf7;
    --azul-medio: #A4CDEB;
    --azul-escuro: #6b8cb1;
    --preto: #1F2A33;
    --preto2: #3D4346;
    --font-padrao: "Roboto", sans-serif;
    --font-destaque: "Poppins", sans-serif;
    --font-decorativa: "Lobster", sans-serif;
}

.navbar {
    margin: 0;
    padding: 0;
}

header .menu-bg {
    background-color: var(--azul-escuro);
}

header .menu {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    gap: 4rem;
}

header .menu .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
    font-size: 2.2rem;
    font-family: var(--font-decorativa);
    font-weight: 500;
    gap: 8px;
}

header .menu .logo a img {
    width: 45px;
    height: auto;
}

header .menu-nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

header .menu-nav ul {
    gap: 1.25rem;

}

header .menu-nav ul li {
    margin: 0;
}

header .menu-nav ul li a {
    color: white;
    font-weight: 500;
    padding: .50rem;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

}

header .menu-nav ul a:hover {
    color: var(--preto);
    border-bottom: 2px solid var(--preto);
    transition: 0.25s ease;
}

header .menu-nav .buttons {
    display: flex;
    gap: 2rem;
}

footer {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
    background-color: var(--azul-escuro);

}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-family: var(--font-decorativa);
    font-weight: 500;
    font-size: 2rem;
    color: #222222;
}

footer .colaboradores {
    display: flex;
    flex-direction: column;
    color: #222222;
    text-align: center;
}

footer .colaboradores a {
    color: white;
}

footer .colaboradores a:hover {
    color: var(--preto);
}

footer .apoio {
    display: flex;
    flex-direction: column;
    color: #222222;
    font-weight: 500;
}

footer .apoio img {
    margin: 0 auto;
    width: 100px;
}

/*
==================================================
    PAGINA HOME
==================================================
*/

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    gap: 2rem;
}

.hero .hero-intro {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero .hero-intro h1 {
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 2.75rem;
    margin-top: 5rem;
}

.hero .hero-intro h1 strong {
    color: var(--azul-escuro);
}

.hero .hero-intro p {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.hero .hero-intro .btn {
    margin-top: 1rem;
    margin-bottom: 4.5rem;
}

.hero .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
}

.hero .hero-img img {
    max-width: 100%;
    height: auto;
}

/*
==================================================
    PAGINA SOBRE
==================================================
*/

.sobre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.sobre .sobre-info {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre .sobre-info h1 {
    font-family: var(--font-destaque);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: var(--azul-escuro);
    margin-bottom: 2rem;
}

.sobre .sobre-info p {
    font-size: 1.2rem;
    text-align: justify;
}

.sobre .sobre-info p strong {
    color: var(--azul-escuro);
}

.sobre .sobre-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sobre .sobre-img div {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.sobre .sobre-img img {
    border-radius: 20px;
}

/*
==================================================
    PAGINA CADASTRO
==================================================
*/

.papeis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.papeis-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.papeis {
    display: flex;
    gap: 5rem;
}

.papeis .papeis-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
    margin-top: 2rem;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

.papeis .papeis-item h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.papeis .item1 {
    flex: 1;
    background-color: var(--azul-medio);
}

.papeis .item2 {
    flex: 1;
    background-color: var(--azul-escuro);
    color: white;
}

.papeis-item .btn {

    margin-top: auto;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--preto);
    background-color: var(--azul-claro);
}

.papeis-item .btn:hover {
    background-color: #c9e3f3;
    text-decoration: underline;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */


.como-funciona-container h1 {
    font-family: var(--font-destaque);
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
}

.como-funciona {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.como-funciona .card {
    width: 35vw;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
}

.como-funciona .card .card-img {
    width: 75px;
    margin: auto;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--azul-claro);
}

.como-funciona .card .card-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
}

.como-funciona .card .card-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.como-funciona .color1 {
    background-color: var(--azul-medio);
}

.como-funciona .color2 {
    background-color: var(--azul-escuro);
    color: white;
    font-weight: 500;
}


/*
==================================================
PAGINA CONTATOS
==================================================
*/

.contatos-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

.contatos-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 3rem;
    padding: 1rem;
}

.contatos-redes span {
    margin-left: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.contatos-redes span a {
    color: var(--preto);
    text-decoration: none;
}

.contatos-redes span a:hover {
    color: var(--azul-escuro);
}


.contatos-mapa {
    width: 70%;
}

.contatos-mapa iframe {
    width: 100%;
    border-radius: 20px;

}

/*
==================================================
    PAGINA FORM-CLIENTE E FORM-CUIDADOR
==================================================
*/
.form-cliente-container {
    display: flex;
    justify-content: center;
}

.form-cliente {
    display: flex;
    width: 80%;
    padding: 30px;
    margin: 3rem;
    gap: 1rem;

    background-color: var(--azul-escuro);
    color: white;
    font-family: var(--font-destaque);
    font-weight: 500;
    border-radius: 10px;
}

.form-cliente-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.form-cliente-side img {
    max-width: 300px;
}

.form-cliente h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-destaque);
}

.form-cliente-side p {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: var(--font-padrao);
}

.form-cliente-side a {
    color: inherit;
    text-decoration: underline;
    font-weight: 600;
}

.form-cliente .btn {
    color: var(--preto);
}

.form-cliente form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.form-cliente div input {
    gap: 0.5rem;
    padding: 0.3rem auto;
    border-radius: 5px;
    border: none;
}

.form-cliente-pessoal,
.form-cliente-endereco,
.form-cliente-senha,
.form-cliente-fim {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: .5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid white;
}

.form-cliente-pessoal>div,
.form-cliente-endereco>div,
.form-cliente-senha>div,
.form-cliente-fim>div {
    flex: 1 1 48%;
    min-width: 200px;
}

.form-cliente-fim {
    border: none;
}

/*
==================================================
    PAGINA LOGIN
==================================================
*/

.form-login-container {

    display: flex;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 4rem;
    border-radius: 20px;
    padding: 3rem;
    background-color: var(--azul-escuro);
    color: white;
    font-family: var(--font-destaque);
}

.form-login h1 {
    text-align: center;
}

/*
==================================================
    PAGINA DASHBOARD-CUIDADOR
==================================================
*/
.dashboard-cuidador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.dashboard-cuidador .img-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-cuidador .img-user img {
    width: 220px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2rem
}

.dashboard-cuidador .img-user h1 {
    font-size: 40px;
}

.dashboard-cuidador .info-user {
    text-align: center;
    font-weight: 600;
}

.dashboard-cuidador .info-user iframe {
    width: 800px;
}

/*
==================================================
    PAGINA DASHBOARD-CLIENTE
==================================================
*/






/*
======================================================================================================================================================
======================================================================================================================================================
    MEDIAS QUERY CELULAR
======================================================================================================================================================
======================================================================================================================================================
]
*/

@media (max-width: 480px) {

    header .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }

    header .menu-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    header .menu .logo {
        gap: 0;
        margin-left: 0;
    }

    header .menu-nav ul {
        margin: 1rem 0;
        gap: 1rem;
    }

    header .menu-nav ul li a {
        gap: 0;
        padding: 0 2rem;
        background-color: var(--azul-medio);
        border-radius: 8px;
        color: white;
        transition: none;
    }

    header .menu-nav ul li a:hover {
        padding: 0 2rem;
        transition: none;
    }

    header .menu-nav .buttons {
        align-items: center;
        margin: 1rem 0;
        flex-direction: column;
        gap: 1rem;
    }

    header .menu-nav .buttons a {
        padding: 0 2.6rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    footer {
        flex-direction: column;
        gap: 20px;
    }

    /*
==================================================
    PAGINA HOME @MEDIA QUERY
==================================================
*/
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .hero-intro {
        width: 90%;
    }

    .hero .hero-intro h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .hero .hero-intro p {
        text-align: left;
        font-size: .8rem;
    }

    .hero .hero-intro .btn {
        margin-bottom: 1rem;
        margin: 0 auto;
    }

    .hero .hero-img img {
        max-width: 350px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    /*
==================================================
    PAGINA SOBRE @MEDIA QUERY
==================================================
*/


    .sobre {
        flex-direction: column;
    }

    .sobre .sobre-info {
        width: 100%;
        padding: 1rem;
    }

    .sobre .sobre-img {
        width: 100%;
    }

    .sobre .sobre-img div {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .sobre .sobre-img img {
        border-radius: 20PX;
        width: 100%;

    }

    /*
==================================================
    PAGINA CADASTRO @MEDIA QUERY
==================================================
*/


    .como-funciona-container h1 {
        font-size: 2rem;
    }

    .como-funciona {
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.5rem;
        padding: 1rem;
    }

    .como-funciona .card {
        width: 100%;
    }

    /* /////////////////////////////////////////////////////////// */
    /* /////////////////////////////////////////////////////////// */

    .papeis-container {
        flex-direction: column;
    }

    .papeis-container h1 {
        font-size: 2rem;
    }

    .papeis {
        flex-direction: column;
        padding: 1rem;
        gap: 0rem;
    }

    /*
==================================================
    PAGINA CONTATOS @MEDIA QUERY
==================================================
*/


    .contatos-container {
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }

    .contatos-redes {
        width: 100%;
        gap: 2rem;
    }

    .contatos-redes span {
        font-size: 1rem;
        font-weight: 500;
    }

    .contatos-redes span a {
        color: var(--preto);
        text-decoration: none;
    }

    .contatos-redes span a:hover {
        color: var(--azul-escuro);
    }

    .contatos-mapa {
        width: 100%;
        padding: 0.5rem;
    }

    .contatos-mapa iframe {
        width: 100%;
        border-radius: 20px;

    }

    /*
==================================================
    PAGINA CADASTRO @MEDIA QUERY
==================================================
*/

    .form-cliente {
        width: 100%;
        padding: 30px;
        margin: 1rem;
        flex-direction: column;
    }

    .form-cliente-side img {
        max-width: 260px;
    }

    /*
==================================================
PAGINA LOGIN @MEDIA QUERY
==================================================
*/

    .form-login {
        width: 80%;
        margin-bottom: 4rem;
    }

}


/*fim da media query de celular*/


/*
======================================================================================================================================================
======================================================================================================================================================
    MEDIAS QUERY TABLET
======================================================================================================================================================
======================================================================================================================================================
]
*/

@media screen and (min-width: 481px) and (max-width: 1023px) {
    header .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }

    header .menu-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }

    header .menu-nav .buttons {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        flex-direction: column;
        width: 100vw;
    }

    header .menu-nav .buttons .btn {
        width: 100vw;
    }

    header .menu-nav ul {
        margin: 1rem 0;
    }

    header .menu-nav ul li a {
        padding: 0 2rem;
        background-color: var(--azul-medio);
        border-radius: 8px;
        color: white;
    }
}


/*fim da media query de tablet*/